@{
    ViewBag.Title = "Giới Thiệu";
}
<h3>@ViewBag.Title</h3>
@*<h3>@ViewBag.Message</h3>*@

<p>Helmets Shop là một công ty hàng đầu về phân phối bán buôn bán lẻ mũ bảo hiểm, hàng nhựa gia dụng,... Nhằm đáp ứng sự kêu gọi của Ủy ban an toàn quốc gia Việt Nam. Nhằm đảm bảo cho sự an toàn của con người khi tham gia giao thông hiện nay công ty chúng tôi đã mở Shop chính thức bán mũ bảo hiểm, đảm bảo cho sự an toàn đứng hàng đầu vì con người. Quý khách hàng an tâm khi đến với chúng tôi bạn sẽ chọn được một hoặc nhiều chiếc mũ tốt, an toàn cho mình và cho người thân của quý vị,... </p> 
<p>Hãy đến với Helmets Shop bạn sẽ cảm thấy an tâm vì sự nhiệt tình với khách hàng chúng tôi đảm đảm chất lượng 100% an toàn. Để tăng sự an tâm với khách hàng và người sử dụng mũ bảo hiểm.chúng tôi luôn đặt sự an toàn của con người lên trên hết. Và công ty nhập những mũ có thương hiệu đã được 120 quốc gia tin dùng và kiểm nghiệm như sản phẩm của ANDES, AGV, LS2, EPIC, GRS, HJC, HONDA...</p> 
<p>Xin cảm ơn quý khách tin và yêu quý chúng tôi.</p>
<br />
<br />
<b>Mũ Bảo Hiểm - Helmets Shop</b>
<br />
Địa chỉ: Bình Chuẩn, Thuận An, Bình Dương
<br />
Hotline: 0926 048 886 - 0826 038 479
<br />
Email: helmetsshops@gmail.com
