
<div class="alert alert-danger">
    Truy cập bị từ chối. Bạn không có quyền truy cập vào trang này.
    <button type="button" class="close pull-right right" data-dismiss="alert" aria-hidden="true">&times;</button>
    <a href="/Home/Index" class="btn-flat gray pull-right right" style="padding-right:20px;"><i class="fa fa-arrow-left icon-white"></i> Quay lại </a>
    
    
</div>

